<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/cats.css">
    <title>Cats</title>
</head>
<body>
    <div class="content">
        <h1>EJS cats</h1>   
        <% for(var x in cats){%>
            <h2><%= cats[x].name%></h2>
           <a href="/cats/<%=cats[x].name%>">
                <img src=<%= cats[x].path %> 
                alt=<%=cats[x].name%> 
                class=<%=cats[x].name%>> 
            </a>;
        <% } %>
    </div>
</body>
</html>